@model FridgeManagement.Models.UserViewModel

@{
    ViewData["Title"] = "Create User";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

<h1>Create User</h1>

<h4>User Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserRole" class="control-label"></label>
                <input asp-for="UserRole" class="form-control" />
                <span asp-validation-for="UserRole" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Password" class="control-label">Password</label>
                <input id="Password" name="Password" type="password" class="form-control" />
                <span class="text-danger"></span> <!-- You can add manual error messages here if needed -->
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
