@using Microsoft.AspNetCore.Identity
@using FridgeManagement.Areas.Identity.Data

@inject SignInManager<FridgeManagementUser> SignInManager
@inject UserManager<FridgeManagementUser> UserManager

@{
    var user = UserManager.GetUserAsync(User).Result; // Get the user synchronously (not recommended for long-term use)
    var firstName = user?.FirstName;
}

@{
    ViewData["Title"] = "CustomerDashBoard";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

<!-- Admin Dashboard Layout -->
<section class="admin-hero">
    <div class="admin-welcome">
        <h2>Hi, @firstName</h2>
        <p>Welcome to Team 6 Fridge Management Customer dashboard, Use the navigation menu to access several functions.</p>
    </div>
</section>



