@{
    ViewData["Title"] = "InventoryLiaison";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
    <!-- Hero Start -->
    <div class="container-fluid hero-header mb-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    <h3 class="fw-light text-white animated slideInRight">Efficient & Reliable</h3>
                    <h1 class="display-4 text-white animated slideInRight">Smart Fridge <span class="fw-light text-dark">Management System</span></h1>
                    <p class="text-white mb-4 animated slideInRight">Manage your fridge inventory effortlessly with real-time updates and alerts for low stock.</p>
                    <a class="btn btn-dark py-2 px-4 me-3 animated slideInRight" asp-area="Identity" asp-page="/Account/Register">Get Started</a>

                </div>
                <div class="col-lg-6">
                    <img class="img-fluid animated pulse infinite" src="~/img/img3.jpg" alt="Fridge Management">
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Feature Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="feature-item position-relative bg-primary text-center p-3">
                        <div class="border py-5 px-3">
                            <i class="fa fa-box fa-3x text-dark mb-4"></i>
                            <h5 class="text-white mb-0">Real-Time Inventory</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="feature-item position-relative bg-primary text-center p-3">
                        <div class="border py-5 px-3">
                            <i class="fa fa-exclamation-triangle fa-3x text-dark mb-4"></i>
                            <h5 class="text-white mb-0">Fault Reporting</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                    <div class="feature-item position-relative bg-primary text-center p-3">
                        <div class="border py-5 px-3">
                            <i class="fa fa-user fa-3x text-dark mb-4"></i>
                            <h5 class="text-white mb-0">Customer Management</h5>
                        </div>
                    </div>
                </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="feature-item position-relative bg-primary text-center p-3">
                    <div class="border py-5 px-3">
                        <i class="fa fa-envelope fa-3x text-dark mb-4"></i>
                        <h5 class="text-white mb-0">Fridge Management</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <div class="feature-item position-relative bg-primary text-center p-3">
                    <div class="border py-5 px-3">
                        <i class="fa fa-cog fa-3x text-dark mb-4"></i>
                        <h5 class="text-white mb-0">Fridge Maintenance</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                <div class="feature-item position-relative bg-primary text-center p-3">
                    <div class="border py-5 px-3">
                        <i class="fa fa-bell fa-3x text-dark mb-4"></i>
                        <h5 class="text-white mb-0">Low Stock Alerts</h5>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
    <!-- Feature End -->
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <img class="img-fluid animated pulse infinite" src="~/img/img1.jpeg">
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="text-primary mb-4">Efficient Inventory <span class="fw-light text-dark">Management</span></h1>
                    <p class="mb-4">Our fridge management system simplifies inventory tracking and ensures you never run out of essential items.</p>
                    <p class="mb-4">Stay updated with real-time notifications and reports, making your fridge management hassle-free.</p>
                    <a class="btn btn-primary py-2 px-4" asp-area="Identity" asp-page="/Account/Register">Get Started</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Feature Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="text-primary mb-3"><span class="fw-light text-dark">Key Benefits Of Our</span> Fridge Management System</h1>
                <p class="mb-5">Efficiently manage your fridge and ensure optimal inventory levels.</p>
            </div>
            <div class="row g-4 align-items-center">
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="row g-5">
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0" style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Easy to Use</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Intuitive interface for all users.</span>
                            </div>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0" style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>24/7 Monitoring</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Stay informed about your fridge status anytime.</span>
                            </div>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0" style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Custom Alerts</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Set alerts for any items you want to track.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                    <img class="img-fluid animated pulse infinite" src="~/img/img3.jpg">
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                    <div class="row g-5">
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0" style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Data Insights</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Gain insights on your inventory usage.</span>
                            </div>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0" style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Energy Efficiency</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Optimize your fridge usage and save energy.</span>
                            </div>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0" style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Cloud Sync</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Access your inventory data from anywhere.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->
    
