@using Microsoft.AspNetCore.Identity
@using FridgeManagement.Areas.Identity.Data

@inject SignInManager<FridgeManagementUser> SignInManager
@inject UserManager<FridgeManagementUser> UserManager

@{
    var user = UserManager.GetUserAsync(User).Result; // Get the user synchronously (not recommended for long-term use)
    var firstName = user?.FirstName;
}

@{
    ViewData["Title"] = "MaintenanceTech";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

<!-- Admin Dashboard Layout -->
<section class="admin-hero">
    <div class="admin-welcome">
        <h2>Hi, @firstName</h2>
        <p>You can manage faults, maintenance visits, and more from here. Use the buttons below to navigate to different sections of the dashboard.</p>
    </div>
</section>


